// Pink
$color-pink: #d86c97;
$color-pink-light: #f7dede;

// Purple
$color-purple: #9b51e0;

// Black
$color-black: #282828;

// Grey
$color-grey-dark: #333333;
$color-grey-midium: #4d4d4d;
$color-grey-light: #646464;

// White
$color-white-light: #ffffff;
$color-white-dark: #f6f2ef;

// Layout Dimensions
$navbar-height: 4.5vh;
$header-height: 95.5vh;
$footer-height: 10vh;
$page-container-width: 160rem;
$navbar-width: 85rem;

// Item Dimensions
$logo-height: 2.7rem;
