.header {
  height: $header-height;
  background-image: url("../assets/images/jax-downtown--large.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    position: absolute;
    top: 8%;
  }

  &__image-box {
    width: 100%;
    img {
      height: 6rem;
      padding: 6px;
    }
  }
  .btn {
    background-color: rgba($color-purple, 0.9);
    padding: 20px;
    font-size: 1.1rem;
  }
}
