.top__navbar {
  background-color: $color-black;
  min-height: $navbar-height;
  position: sticky;
  top: 0;
  z-index: 9999;

  .top__nav-container {
    max-width: $navbar-width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo-box .logo {
      height: $logo-height;
    }
    .top__nav-box {
    }

    ul {
      list-style: none;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      > :last-child {
        padding-right: 0px;
      }
    }
    ul li {
      margin-left: 1rem;
      min-height: $navbar-height;
      border-radius: 2px;
      width: 5rem;
      margin: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      color: $color-white-light;
      text-decoration: none;
    }
    ul li:hover,
    .link--active {
      background-color: $color-purple;
    }
  }

  // make logo box and nav-box use all the available space of the parent top__nav-container
  & > * {
    flex-grow: 1;
  }
}
