.section-galleries {
  background-color: $color-grey-light;
  color: $color-white-light;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  max-width: 15rem;
  height: 20rem;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  transition: 250ms;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px $color-black;
  }
}

#modal-popup {
  padding: 50px;

  // set modal to cover entire page
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-black;

  // center image in the modal
  display: flex;
  justify-content: center;
  align-items: center;

  // Initially, hide modal all the way to top
  transform: translateY(-100%);
  transition: 250ms transform;
}

#selectedImg {
  max-height: 100%;
}
